@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import "tailwindcss";


.gabarito{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}